*.o
*.d
*.so
*.a
*.dll
*.dylib
*.lib
*.pdb
*.exp
*.manifest
nul
/old

/msvc/Debug
/msvc/Release
/msvc/*.suo
/msvc/*.user
/msvc/*.sdf
/msvc/*.db
/msvc/x64
/msvc/.vs/msvc-2010/v14/*.suo
/msvc/.vs/msvc-2015/v14/*.suo
/msvc/msvc-2015.VC.VC.opendb